.header {
    display: flex;
    position: center;
    background-color: green;
    align-content: center;
    height: 100%;
    width: 100%;
}
.conteiner {
    display:flex;
    padding: 20px 30px 30px 300px;
    justify-content:center;
    align-items: center; 
    margin-left: 100px;
}
.par {
    margin-left: 40px;
    color: greenyellow;
}
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
